*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', 'Arial', sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

ul li{
	list-style: none;
}

.main-wrapper{
	padding-top: 70px;
}

.privacy{
	padding: 25px 15px;
	
	h1{
		text-align: center;
		margin-bottom: 25px;

		@media(max-width: 600px){
			font-size: 20px;
		}
	}

	h3{
		margin-top: 25px;
		margin-bottom: 10px;

		@media(max-width: 600px){
			font-size: 16px;
		}
	}

	p{
		@media(max-width: 600px){
			font-size: 13px;
		}
	}

	ul li{
		list-style: inside;

		@media(max-width: 600px){
			font-size: 13px;
		}
	}
}

.custom-container{
	max-width: 1280px;
	margin: 0 auto;
}

.custom-container-lg{
	max-width: 1400px;
	margin: 0 auto;
}

.gradiented-wrapp{
	background-image: linear-gradient(to right, #8CC63E 0%, #0090e3 100%);
}

.more{
	position: relative;
	max-width: 366px;
	display: inline-block;
	margin-top: 20px;
	padding: 8px 12px;
	font-size: 10px;
	background-color: magenta;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);

	img{
		width: 30px;
		height: auto;
		vertical-align: middle;
	}

	span{
		margin-right: 10px;
		margin-left: 10px;
		vertical-align: middle;
		font-size: 14px;
		color: #fff;
	}

	i{
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: #fff;
	}
}

.section-title{
	position: relative;
	margin-bottom: 20px;
	line-height: 36px;
    font-size: 36px;
	font-weight: 400;
	color: #4d4d4d;

	&:before{
		content: '';
		position: absolute;
		width: 70px;
		left: 5px;
		bottom: -10px;
		border-bottom: 2px solid #4d4d4d;
	}

	&.centered:before{
		display: none;
	}
}

.centered{
	text-align: center;
	font-size: 28px;

	&:before{
		left: 50%;
		transform: translate(-50%);
	}
}

.solid-text{
	font-weight: 500;
}

.white-text{
	color: #fff;

	&:before{
		border-bottom: 2px solid #fff;
	}
}

.blue-bg{
	background-color: #2ea2ac;
}

@media(max-width: 768px){
	.section-title{
		line-height: 24px;
		font-size: 24px;
	}

	.centered{
		font-size: 18px;
	}

	.more{
        display: inline-block;
	}
	
	.more-wrap{
		text-align: center;
	}
}

.v-application ol, .v-application ul{
	padding-left: 0!important;
}