.fixed-header{
	position: fixed;
	width: 100%;
	z-index: 10000;
}

.v-menu__content--fixed.v-menu__content{
	z-index: 100000!important;
}

.pagenav{
	width: 40px;
	height: 40px;
	position: fixed;
	z-index: 200000;
	right: 50px;
	background-color: #0592dd;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;

	&.to-top{
		bottom: 100px;
	}

	&.to-bottom{
		bottom: 50px;

		i{
			top: 13px;
		}
	}

	i{
		position: absolute;
		top: 11px;
		left: 13px;
		color: #fff;
	}

	@media(max-width: 768px){
		right: 10px;
	}
}

.gradiented-wrapp .main-header{
	display: flex;
	min-height: 50px;
	justify-content: space-between;
	align-items: center;

	.logo{
		display: inline-block;
		position: relative;
		left: -50px;

		img{
			position: relative;
			top: 4px;
			width: auto;
			height: 40px;
		}

		@media(max-width: 960px){
			left: 0;
		}
	}

	a{
		vertical-align: middle;
		transition: all 300ms;
		color: #fff;
		font-size: 16px;
		line-height: 22px;
		padding: 0 14px;

		&:hover{
			background-color: rgba(255,255,255,0.2);
		}
	}
}

.menu-right{
	display: flex;
	align-items: center;
}

.lang-switch {
	padding-left: 40px;

	.v-input{
		width: 115px;
		padding-top: 0;
		margin-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid #fff;
		border-radius: 5px;
	}

	.v-input__slot{
		margin-bottom: 0;

		&:before, &:after{
			display: none;
		}

		.v-input__append-inner{
			padding-left: 0!important;
		}

		.v-select__selection, .v-input__icon i{
			color: #fff!important;
		}

		.v-select__selection{
			font-weight: 500;
		}
	}

	.v-text-field__details{
		display: none;
	}
}

.v-menu__content{
	min-width: 200px!important;
	text-align: center;
	z-index: 400!important;
}

@media(max-width: 1280px){
	.gradiented-wrapp .main-header a{
		font-size: 14px;
	}
}

@media(max-width: 960px){
	.lang-switch {
		padding-left: 0;
		padding-right: 10px;
	}
}