.main-footer{
	display: flex;
	justify-content: space-between;
	padding: 80px 15px;
	
	.logo img{
		width: auto;
		height: 100px;
	}

	.logo-col{
		width: 25%;
	}

	.custom-row{
		width: 75%;
		display: flex;
		justify-content: space-between;
	}

	.custom-col{
		width: 33%;

		li, a{
			line-height: 1.7;
			font-size: 16px;
			color: #fff;
		}

		h3{
			margin-bottom: 20px;
			font-weight: 300;
			font-size: 20px;
			color: #fff;

			&.solid-text{
				font-weight: 500;
			}
		}

		a{
			span{
				margin-left: 10px;
			}
		}
	}
}

.main-footer .col .fz16{
	font-size: 16px;
}

@media(max-width: 1024px){
	.main-footer{
		flex-wrap: wrap;
		padding: 20px 15px;

		.logo-col{
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
	
		.custom-row{
			width: 100%;
		}
	}
}

@media(max-width: 768px){
	.main-footer{
		.custom-col h3.solid-text{
			font-weight: 300;
		}

		.custom-col h3{
			font-size: 16px;
		}
	}

	.custom-row{
		width: 100%;

		.custom-col{
			width: 50%;
		}

		.custom-col:nth-child(1){
			width: 25%;
		}

		.custom-col:nth-child(2){
			width: 25%;
		}
	}
}

@media(max-width: 600px){

	.custom-row{
		flex-wrap: wrap;

		.custom-col{
			width: 100%;
			margin: 0 auto;
			
			&:nth-child(1), &:nth-child(2){
				width: 50%;
				text-align: center;
			}

			&:nth-child(3){
				margin-top: 30px;
				text-align: center;
			}
		}
	}
}